name: Build/Release

# --- THIS IS THE FIX ---
permissions:
  contents: write
# -----------------------

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      # Linux Setup
      - name: Install Linux libraries
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y graphicsmagick icnsutils || sudo apt-get install -y graphicsmagick libicns-utils

      # Build & Upload
      - name: Build & Release
        env:
          # Disable code signing requirements
          CSC_IDENTITY_AUTO_DISCOVERY: false 
          # Give the token so it can upload to Releases
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run build -- --publish always